/* Flip in / Flip out */
.flipIn {
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation: flipIn .5s cubic-bezier(.6, 1.1, .3, 1) 1 normal forwards;
	-o-animation: flipIn .5s cubic-bezier(.6, 1.1, .3, 1) 1 normal forwards;
	animation: flipIn .5s cubic-bezier(.6, 1.1, .3, 1) 1 normal forwards;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.flipOut {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation: flipOut .5s cubic-bezier(.6, 1.1, .3, 1) 1 normal forwards;
	-o-animation: flipOut .5s cubic-bezier(.6, 1.1, .3, 1) 1 normal forwards;
	animation: flipOut .5s cubic-bezier(.6, 1.1, .3, 1) 1 normal forwards;
}


@keyframes flipIn {
	0% {
		-webkit-transform: rotateY(-90deg) translateZ(80px);
		-moz-transform: rotateY(-90deg) translateZ(80px);
		-ms-transform: rotateY(-90deg) translateZ(80px);
		-o-transform: rotateY(-90deg) translateZ(80px);
		transform: rotateY(-90deg) translateZ(80px);
		opacity: 0;
	}

	30% {
		opacity: 1;
	}

	100% {
		-webkit-transform: rotateY(0deg) translateZ(0);
		-moz-transform: rotateY(0deg) translateZ(0);
		-ms-transform: rotateY(0deg) translateZ(0);
		-o-transform: rotateY(0deg) translateZ(0);
		transform: rotateY(0) translateZ(0);
		opacity: 1;
	}
}

@keyframes flipOut {
	0% {
		-webkit-transform: rotateY(0) translateZ(0);
		-moz-transform: rotateY(0) translateZ(0);
		-ms-transform: rotateY(0) translateZ(0);
		-o-transform: rotateY(0) translateZ(0);
		transform: rotateY(0) translateZ(0);
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateY(-90deg) translateZ(80px);
		-moz-transform: rotateY(-90deg) translateZ(80px);
		-ms-transform: rotateY(-90deg) translateZ(80px);
		-o-transform: rotateY(-90deg) translateZ(80px);
		transform: rotateY(-90deg) translateZ(80px);
		opacity: 0;
	}
}



/* Webkit shit */

@-webkit-keyframes flipIn {
	0% {
		-webkit-transform: rotateY(-90deg) translateZ(5em);
		-moz-transform: rotateY(-90deg) translateZ(5em);
		-ms-transform: rotateY(-90deg) translateZ(5em);
		-o-transform: rotateY(-90deg) translateZ(5em);
		transform: rotateY(-90deg) translateZ(5em);
		opacity: 0;
	}

	30% {
		opacity: 1;
	}

	100% {
		-webkit-transform: rotateY(0deg) translateZ(0);
		-moz-transform: rotateY(0deg) translateZ(0);
		-ms-transform: rotateY(0deg) translateZ(0);
		-o-transform: rotateY(0deg) translateZ(0);
		transform: rotateY(0) translateZ(0);
		opacity: 1;
	}
}

@-webkit-keyframes flipOut {
	0% {
		-webkit-transform: rotateY(0deg) translateZ(0);
		-moz-transform: rotateY(0deg) translateZ(0);
		-ms-transform: rotateY(0deg) translateZ(0);
		-o-transform: rotateY(0deg) translateZ(0);
		transform: rotateY(0) translateZ(0);
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotateY(-90deg) translateZ(0);
		-moz-transform: rotateY(-90deg) translateZ(0);
		-ms-transform: rotateY(-90deg) translateZ(0);
		-o-transform: rotateY(-90deg) translateZ(0);
		transform: rotateY(-90deg) translateZ(0);
		opacity: 0;
	}
}

/* Slide container to left or right */
.slideLeft {
	opacity: 1;
	-webkit-transform: rotateY(0) translateZ(0);
	-moz-transform: rotateY(0) translateZ(0);
	-ms-transform: rotateY(0) translateZ(0);
	-o-transform: rotateY(0) translateZ(0);
	transform: rotateY(0) translateZ(0);
	-webkit-animation: slideLeft .5s ease-in-out 1 normal forwards;
	-o-animation: slideLeft .5s ease-in-out 1 normal forwards;
	animation: slideLeft .5s ease-in-out 1 normal forwards;
}

@keyframes slideLeft {
	0% {
		-webkit-transform: rotateY(0deg) translateZ(0) translate3d(0, 0, 0);
		-moz-transform: rotateY(0deg) translateZ(0) translate3d(0, 0, 0);
		-ms-transform: rotateY(0deg) translateZ(0) translate3d(0, 0, 0);
		-o-transform: rotateY(0deg) translateZ(0) translate3d(0, 0, 0);
		transform: rotateY(0deg) translateZ(0) translate3d(0, 0, 0);
		opacity: 1
	}

	70% {
		opacity: 1
	}

	100% {
		opacity: 0;
		-webkit-transform: rotateY(0deg) translate3d(-150%, 0, 0);
		-ms-transform: rotateY(0deg) translate3d(-150%, 0, 0);
		-o-transform: rotateY(0deg) translate3d(-150%, 0, 0);
		transform: rotateY(0deg) translate3d(-150%, 0, 0);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: rotateY(0deg) translateZ(0) translate3d(0, 0, 0);
		transform: rotateY(0deg) translateZ(0);
		opacity: 1
	}

	70% {
		opacity: 1
	}

	100% {
		opacity: 0;
		-webkit-transform: rotateY(0deg) translate3d(-150%, 0, 0);
		transform: rotateY(0deg) translate3d(-150%, 0, 0);
	}
}

.slideRight {
	opacity: 1;
	-webkit-transform: rotateY(0) translateZ(0);
	-ms-transform: rotateY(0) translateZ(0);
	-o-transform: rotateY(0) translateZ(0);
	transform: rotateY(0) translateZ(0);
	-webkit-animation: slideRight .5s ease-in-out 1 normal forwards;
	-o-animation: slideRight .5s ease-in-out 1 normal forwards;
	animation: slideRight .5s ease-in-out 1 normal forwards;
}

@keyframes slideRight {
	0% {
		-webkit-transform: rotateY(0deg) translateZ(0) translate3d(0, 0, 0);
		-ms-transform: rotateY(0deg) translateZ(0) translate3d(0, 0, 0);
		-o-transform: rotateY(0deg) translateZ(0) translate3d(0, 0, 0);
		transform: rotateY(0deg) translateZ(0) translate3d(0, 0, 0);
		opacity: 1
	}

	70% {
		opacity: 1
	}

	100% {
		opacity: 0;
		-webkit-transform: rotateY(0deg) translate3d(150%, 0, 0);
		-ms-transform: rotateY(0deg)  translate3d(150%, 0, 0);
		-o-transform: rotateY(0deg) translate3d(150%, 0, 0);
		transform: rotateY(0deg) translateZ(0) translate3d(150%, 0, 0);
	}
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: rotateY(0deg) translateZ(0) translate3d(0, 0, 0);
		transform: rotateY(0deg) translateZ(0) translate3d(0, 0, 0);
		opacity: 1
	}

	70% {
		opacity: 1
	}

	100% {
		opacity: 0;
		-webkit-transform: rotateY(0deg) translate3d(150%, 0, 0);
		transform: rotateY(0deg) translate3d(150%, 0, 0);
	}
}

/* WP8 tilt */
.tilt {
	display: block;
	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0);
	-moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0);
	perspective-origin: 25% 75%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.spinner-animation {
    -moz-animation: spin-animation 1.5s linear infinite forwards;
    -webkit-animation: spin-animation 1.5s linear infinite forwards;
    -ms-animation: spin-animation 1.5s linear infinite forwards;
    animation: spin-animation 1.5s linear infinite forwards;
}

@-webkit-keyframes spin-animation {
    from {-webkit-transform : rotate(0)}
    to {-webkit-transform : rotate(360deg)}
	}

@-moz-keyframes spin-animation {
    from {-moz-transform : rotate(0)}
    to{-moz-transform : rotate(360deg)}
	}

@-ms-keyframes spin-animation {
    from{-ms-transform : rotate(0)}
    to{-ms-transform : rotate(360deg)}
	}

@keyframes spin-animation {
    from{transform : rotate(0)}
    to{transform : rotate(360deg)}
	}


/* Fade out */

.fade {
    -moz-animation: fadeout .5s ease-in 1 normal forwards;
    -webkit-animation: fadeout .5s ease-in 1 normal forwards;
    -ms-animation: fadeout .5s ease-in 1 normal forwards;
    animation: fadeout .5s ease-in 1 normal forwards;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	}

@-webkit-keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
	}

@-moz-keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
	}

@-ms-keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
	}

@keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
	}

.fade-in {
    -moz-animation: fadein .5s ease-in 1 normal;
    -webkit-animation: fadein .5s ease-in 1 normal;
    -ms-animation: fadein .5s ease-in 1 normal;
    animation: fadein .5s ease-in 1 normal;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

@-webkit-keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
	}

@-moz-keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
	}

@-ms-keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
	}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
	}

/* Blink */

.blink {
    -moz-animation: blink 1s ease-in-out infinite alternate;
    -webkit-animation: blink 1s ease-in-out infinite alternate;
    -ms-animation: blink 1s ease-in-out infinite alternate;
    animation: blink 1s ease-in-out infinite alternate;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

@-webkit-keyframes blink {
    from {opacity: .3}
    to {opacity: 1}
	}

@-moz-keyframes blink {
    from {opacity: .3}
    to {opacity: 1}
	}

@-ms-keyframes blink {
    from {opacity: .3}
    to {opacity: 1}
	}

@keyframes blink {
    from {opacity: .3}
    to {opacity: 1}
	}

/* hover */
.ripple{
    animation: ripple .5s ease-out normal  forwards;
}

@keyframes ripple {
    from {
		transform: scale(1) translateZ(0);
		box-shadow : 0 0 1px 1px rgba(76,184,196,.8);
		}
    to {
		transform: scale(10) translateZ(0);
		box-shadow : 0 0 1px 1px rgba(60,211,173,0);
		}
	}
