<div class="page-content gameplay bgr-gradient">
	<div class="game-status">
		<div class="counter-moves">Moves <span class="moves">0</span></div>
		<div class="current-level">Level <span></span></div>
		<div class="counter-timer">Time <span class="timer">&nbsp;</span></div>
	</div>
	<div class="canvas-container">
		<div class="level-bgr"></div>
		<div class="bubbles tilt"></div>
		<div class="ripples"></div>
		<div class="scores"></div>
	</div>


	<footer>
		<div class="restart">Restart</div>
		<div><a href="#/home">Home</a></div>
	</footer>
</div>
